# Ignore MNIST dataset and Lightning Logs
Practicals/01 - Introduction to Pytorch, Linear-Nonlinear Transformations/MNIST/
Practicals/01 - Introduction to Pytorch, Linear-Nonlinear Transformations/lightning_logs/
